@page
@using System.Data.Entity.Core.Metadata.Edm
@using System.Reflection.Metadata
@using System.Runtime.InteropServices.ComTypes
@using Microsoft.AspNetCore.Hosting.Internal
@using Microsoft.AspNetCore.Razor.Language.Intermediate
@using SQLitePCL
@using System.Linq
@model Message
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Messenger-dialog</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-container">
        <section class="dialogs-list">
            <form action="#" method="post">
                <input class="search" type="search" name="search-area" placeholder="Найти">
            </form>
            <div class="dialog-list">
                <h2>Контакты</h2>
                <ul class="contacts">
                    @foreach (var item in ViewBag.array)
                    {
                        <li>
                            @{string path = item.Id.ToString();}
                            <a href="/home/getdetails/@Html.Raw(path)">
                                <img src="#" alt="Фото" width="20" height="20">
                                <p> @item.name</p>
                            </a>
                            <a href="/home/delete/@Html.Raw(path)">
                                <p> Ты мне больше не друг</p>
                            </a>
                        </li>
                    }
                    
                </ul>
                <a href="/home/addcontact/">
                    <p> Добавить друга</p>
                </a>
                <a href="/home/findcontact/">
                    <p>Найти друга</p>
                </a>
            </div>
        </section>
        <section class="dialog">
            <header class="chat-header">
                <p class="name">Имя Собеседника</p>
            </header>
           @* <div class="chat-area">
                
                @foreach (var mes in ViewBag.Messages)
                {
                    
                     if (mes.FromId == ViewBag.Myid)
                     {
                         <div class="my-message">
                             <p>@mes.MessageBody</p>
                         </div>
                     } else
                     {
                         string NameOfPerson = "";
                         foreach (var p in ViewBag.array)
                         {
                             if (p.Id == mes.FromId)
                             {
                                 NameOfPerson = p.name;
                                 break;
                             }
                             
                         }
                         <div class="message-int">
                             <p>@Html.Raw(NameOfPerson): </p>
                             <p>@mes.MessageBody</p>
                         </div>
                         
                     }
                }
            </div>
            <div class="chat-input">
                @using (Html.BeginForm()) 
                {
                    @Html.LabelFor(model => model.MessageBody, "Сообщение")
                    <br />
                    @Html.EditorFor(model => model.MessageBody)
                    <br />
                    
                    <br />
                    <br /><br />
                    <input type="submit" value="Добавить" />
                }
            </div>*@
        </section>
    </div>

</body>
</html>